<div class="PermissionRequestInfo" *ngIf="permissionRequest">
  <div class="PermissionRequestInfo__row">
    <mat-card class="Card Card--narrow">
      <mat-card-header>
        <mat-card-title>
          <mat-icon class="Card__titleIcon">{{ sections.beneficiary.icon }}</mat-icon>
          {{ sections.beneficiary.title }}
        </mat-card-title>
        <mat-card-subtitle *ngIf="sections.beneficiary.subtitle">
          {{ sections.beneficiary.subtitle }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="Card__content">
        <div class="Field Field--inline" *ngIf="permissionRequest.author">
          <label for="author">Auteur</label>
          <div id="author">{{ permissionRequest.author?.nom_complet }}</div>
        </div>

        <div class="Field Field--inline">
          <label for="scope">Portée</label>
          <div id="scope">{{ getScopeLabel(permissionRequest.scope) }}</div>
        </div>

        <div class="Field" *ngIf="permissionRequest.validator">
          <label for="validator">Validateur</label>
          <div id="validator">{{ permissionRequest.validator?.nom_complet }}</div>
        </div>

        <div class="Field" *ngIf="permissionRequest.validation_description">
          <label for="validation_description">Commentaire de validation</label>
          <div id="validation_description">{{ permissionRequest.validation_description }}</div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="Card Card--description">
      <mat-card-header>
        <mat-card-title>
          <mat-icon class="Card__titleIcon">{{ sections.description.icon }}</mat-icon>
          {{ sections.description.title }}
        </mat-card-title>
        <mat-card-subtitle *ngIf="sections.description.subtitle">
          {{ sections.description.subtitle }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="Card__content">
        <div class="Field">
          <div id="description" class="Field__text">
            {{ permissionRequest.description || 'Non renseignée' }}
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="PermissionRequestInfo__row PermissionRequestInfo__row--data">
    <mat-card class="Card Card--validity">
      <mat-card-header>
        <mat-card-title>
          <mat-icon class="Card__titleIcon">{{ sections.validity.icon }}</mat-icon>
          {{ sections.validity.title }}
        </mat-card-title>
        <mat-card-subtitle *ngIf="sections.validity.subtitle">
          {{ sections.validity.subtitle }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="Card__content">
        <div class="Field">
          <label for="created_on">Date de creation</label>
          <div id="created_on">
            {{ permissionRequest.created_on | date: 'dd/MM/yyyy' }}
          </div>
        </div>

        <div class="Field">
          <label for="expiration_date">Date d'expiration</label>
          <div id="expiration_date">
            {{ permissionRequest.expiration_date | date: 'dd/MM/yyyy' }}
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="Card Card--data">
      <mat-card-header>
        <mat-card-title>
          <mat-icon class="Card__titleIcon">{{ sections.data.icon }}</mat-icon>
          {{ sections.data.title }}
        </mat-card-title>
        <mat-card-subtitle *ngIf="sections.data.subtitle">
          {{ sections.data.subtitle }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="Card__content">
        <div class="Field" *ngIf="permissionRequest.taxa?.length">
          <label for="taxa">Taxons</label>
          <ul id="taxa" class="PermissionRequestInfo__list">
            <li *ngFor="let taxon of permissionRequest.taxa; trackBy: trackByTaxon">
              {{ taxon.nom_valide || taxon.lb_nom }}
            </li>
          </ul>
        </div>

        <div class="Field" *ngIf="permissionRequest.areas?.length">
          <label for="areas">Zones géographiques</label>
          <ul id="areas" class="PermissionRequestInfo__list">
            <li *ngFor="let area of permissionRequest.areas; trackBy: trackByArea">
              {{ area.area_name }}
              <ng-container *ngIf="area.area_code">({{ area.area_code }})</ng-container>
            </li>
          </ul>
        </div>

        <div class="Field" *ngIf="permissionRequest.custom_area">
          <label for="custom_area">Zone géographique personnalisée</label>
          <div id="custom_area" class="PermissionRequestInfo__customArea">
            <mat-icon>description</mat-icon>
            <a [href]="getCustomAreaDownloadUrl()" download>
              {{ permissionRequest.custom_area.file_name || 'custom_area.geojson' }}
            </a>
          </div>
        </div>

        <div class="Field Field--map" *ngIf="mapGeojson">
          <pnx-map height="300px" [searchBar]="false">
            <pnx-geojson [geojson]="mapGeojson" [zoomOnLayer]="true" [zoomOnFirstTime]="true"></pnx-geojson>
          </pnx-map>
        </div>

        <div class="Field Field--inline">
          <label for="sensitivity_filter">Données sensibles visibles</label>
          <div id="sensitivity_filter">
            {{ permissionRequest.sensitivity_filter ? 'Oui' : 'Non' }}
          </div>
        </div>

        <div class="Field Field--synthese" *ngIf="permissionRequest.cruved?.V">
          <a mat-stroked-button color="primary" [routerLink]="syntheseLink" [queryParams]="syntheseQueryParams"
            target="_blank" rel="noopener">
            Visualiser dans la synthèse
          </a>
          <div class="Field__warning" *ngIf="permissionRequest.custom_area">
            <mat-icon>warning</mat-icon>
            La zone géographique personnalisée n'est pas prise en compte dans la synthèse.
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
